{% include "products/header.html" %}

<style>
#id_codigo_area{
  width: 100%;
  float: left;
}
</style>
<body>
  <div style="padding:1%" class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="form-horizontal" role="form"> {% csrf_token %}

            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Nombre</label>
              </div>
              <div class="col-sm-4">
                {{form.nombre}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Apellido</label>
              </div>
              <div class="col-sm-4">
                {{form.apellido}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">E-Mail</label>
              </div>
              <div class="col-sm-4">
                {{form.mail}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Sitio Web</label>
              </div>
              <div class="col-sm-4">
                {{form.web}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Telefono Fijo</label>
              </div>
              <div class="col-sm-4">
                {{form.telefono_fijo}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Celular</label>
              </div>
              <div class="col-sm-4">
                {{form.celular}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Pais</label>
              </div>
              <div class="col-sm-4">
                {{form.pais}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Provincia</label>
              </div>
              <div class="col-sm-4">
                {{form.provincia}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Ciudad</label>
              </div>
              <div class="col-sm-4">
                {{form.ciudad}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Calle</label>
              </div>
              <div class="col-sm-4">
                {{form.calle}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Altura</label>
              </div>
              <div class="col-sm-4">
                {{form.altura}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Entre Calles</label>
              </div>
              <div class="col-sm-4">
                {{form.entre_calle}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Piso</label>
              </div>
              <div class="col-sm-4">
                {{form.piso}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Depto</label>
              </div>
              <div class="col-sm-4">
                {{form.depto}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Codigo Postal</label>
              </div>
              <div class="col-sm-4">
                {{form.codigo_postal}}
              </div>
            </div>
</br>
            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-success">Confirmar</button>
              </div>
              <div class="col-sm-4">
                <a href="{% url "prov_list" %}" class="btn btn-danger">
                <span class=""></span> Cancelar
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
