{% include "products/header.html" %}
<body>
  <div style="padding:5%" class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="form-horizontal" role="form"> {% csrf_token %}

            <!-- <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">Código</label>
              </div>
              <div class="col-sm-4">
                {{form.codigo}}
              </div>
            </div> -->
            <div class="form-group" id="nombre">
              <div class="col-sm-6">
                <label class="control-label">Nombre</label>
              </div>
              <div class="col-sm-4">
                {{form.name}}
              </div>
            </div>
            <div class="form-group" id="tipo">
              <div class="col-sm-6">
                <label class="control-label">Tipo</label>
              </div>
              <div class="col-sm-4">
                {{form.productType}}
              </div>
            </div>
            <div class="form-group" id="marca">
              <div class="col-sm-6">
                <label class="control-label">Marca</label>
              </div>
              <div class="col-sm-4">
                {{form.brand}}
              </div>
            </div>
            <div class="form-group" id="descripcion">
              <div class="col-sm-6">
                <label class="control-label">Descripción</label>
              </div>
              <div class="col-sm-4">
                {{form.description}}
              </div>
            </div>
            <div class="form-group" id="variedad">
              <div class="col-sm-6">
                <label class="control-label">Variedad</label>
              </div>
              <div class="col-sm-4">
                {{form.variety}}
              </div>
            </div>
            <div class="form-group" id="origen">
              <div class="col-sm-6">
                <label class="control-label">Origen</label>
              </div>
              <div class="col-sm-4">
                {{form.origin}}
              </div>
            </div>
            <div class="form-group" id="fabricante">
              <div class="col-sm-6">
                <label class="control-label">Fabricante</label>
              </div>
              <div class="col-sm-4">
                {{form.maker}}
              </div>
            </div>
            <div class="form-group" id="talle">
              <div class="col-sm-6">
                <label class="control-label">Talle</label>
              </div>
              <div class="col-sm-4">
                {{form.talle}}
              </div>
            </div>
            <div class="form-group" id="precioVenta">
              <div class="col-sm-6">
                <label class="control-label">Precio de venta</label>
              </div>
              <div class="col-sm-4">
                {{form.price}}
              </div>
            </div>
            <div class="form-group" id="precioLista">
              <div class="col-sm-6">
                <label class="control-label">Precio de lista</label>
              </div>
              <div class="col-sm-4">
                {{form.precio_lista}}
              </div>
            </div>
            <div class="form-group" id="stock">
              <div class="col-sm-6">
                <label class="control-label">Stock</label>
              </div>
              <div class="col-sm-4">
                {{form.productStock}}
              </div>
            </div>
            <div class="form-group" id="año">
              <div class="col-sm-6">
                <label class="control-label">Año</label>
              </div>
              <div class="col-sm-4">
                {{form.year}}
              </div>
            </div>
            <div class="form-group" id="tamaño">
              <div class="col-sm-6">
                <label class="control-label">Tamaño</label>
              </div>
              <div class="col-sm-4">
                {{form.size}}
              </div>
            </div>

            </br>

            <div class="col-sm-6">
              <button type="submit" class="btn btn-success">Confirmar</button>
            </div>

              <div class="col-sm-4">
                <a href="{% url "product_list" %}" class="btn btn-danger">
                <span class=""></span> Cancelar
                </a>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</body>
